
.navbar {
    background-color: blueviolet;
    padding: 15px;
}
.navbar a{
    text-decoration: none;
    margin: 10px;
    color: white;
}
.header-icon{
    display: flex;
}
.header-icon img{
    margin-right: 10px;
    width: 40px;
}
.logOut-btn{
    background-color:blueviolet;
    border: none;
    color: white;
}