
.navbar {
    background-color: blueviolet;
    padding: 15px;
    position:relative;
}
.header-icon{
    display: flex;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
.navbar a:hover{
    color:lightgrey;
}

.logOut-btn{
    background-color:blueviolet;;
    border: none;
    color: white;
}

@media only screen and (max-width: 688px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 688px) and (max-width: 1024px) {
    .navbar{
        display: flex;
        flex-direction: column;
    }
}