
.tech-heading{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section img{
    width: 100%; 
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-top: 10%; */
    padding: 10px;
}

 @media only screen and (max-width: 688px) {
    .section{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 688px) and (max-width: 1020px) {
    .section{
        display: flex;
        flex-direction: column;
    }
} 

